@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    line-height: 1.6;
    outline: none;
}

a {
    @apply text-blue-600 hover:underline;
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+markup-templating+php&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code,
pre[class*="language-"] {
    color: theme('colors.gray.900');
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    font-size: 14px !important;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
    text-shadow: none;
    background: theme('colors.gray.200');
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code::selection, code ::selection {
    text-shadow: none;
    background: theme('colors.gray.200');
}

@media print {
    code,
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}

.docs_main :not(pre) > code,
pre[class*="language-"] {
    background: theme('colors.gray.50');
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    color: theme('colors.red.800');
    user-select: auto;
}

.docs_main :not(pre) > code {
    display: inline-flex;
    padding: 0 .125rem;
    max-width: 100%;
    overflow-x: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: theme('colors.gray.500');
}

.token.punctuation {
    color: theme('colors.gray.900');
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: theme('colors.red.900');
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: theme('colors.green.600');
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: theme('colors.gray.900');
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: theme('colors.blue.800');
}

.token.function,
.token.class-name {
    color: theme('colors.red.800');
}

.token.regex,
.token.important,
.token.variable {
    color: theme('colors.blue.600');
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: theme('colors.gray.900');
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

.markdown-body *:first-child {
    margin-top: 0;
}

.markdown-body p,
.markdown-body ul {
    margin-bottom: 16px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.2;
}

.markdown-body h1{
  font-size: 2em;
}

.markdown-body h2{
  font-size: 1.5em
}

.markdown-body h3{
  font-size: 1.25em
}

.markdown-body h4{
  font-size: 1em
}

.markdown-body h5{
  font-size: .875em
}

.markdown-body h6{
  font-size: .85em;
  color:#6a737d
}

.markdown-body ul {
    @apply pl-6;
}

.markdown-body li {
    @apply list-disc;
}
